
/* mobile first */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body, html{
	font-family: Tahoma, sans-serif;
	color: #3232cf;
}
.container{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
img{
	display: block;
	width: 100%;
}

/* header */
#header{
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}
.logo{
	background-color: transparent;
	width: 100%;
	max-width: 1400px;
	height: 100%;
	margin: 0 auto;
}
.logo h1{
	margin: 0 10px;
}

/* front page */
#front{
	background-image: url(../img/doctor-bg.webp);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
}
#front::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}
.front{
	justify-content: space-evenly;
}
.front h1{
	display: block;
	color: #e9f9ff;
	font-size: 3rem;
	letter-spacing: 2px;
}
.badge{
	display: inline-block;
	color: #e9f9ff;
	font-size: 3rem;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 20px;
	border: 10px solid #e9f9ff;
	border-radius: 30px;
	transition: all .2s;
}
.badge:hover{
	background-color: #3232cf;
}

/* skills page */
#skills{
	background-color: #e9f9ff;
}
#skills .skills{
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 50px 0 0;
}
#skills .skill-item{
	width: 90%;
	margin: 20px auto;
	border-radius: 10px;
	overflow: hidden;
}
#skills .skill-info{
	background-color: #d3e2e7;
	padding: 20px 10px;
}
#skills p{
	padding-top: 10px;
}

/* contact page */
#contact{
	background-color: #d3e2e7;
}
#contact .contact{
	justify-content: space-evenly;
	text-align: center;
	max-width: 1400px;
	margin: 0 auto;
}
#contact .contact-text{
	width: 100%;
}
#contact h2{
	font-size: 2rem;
	font-weight: 600;
	padding: 20px 0;
}
#contact h3{
	padding-bottom: 20px;
}
#contact h4{
	font-weight: 600;
}
#contact .contact-img{
	width: 100%;
}
#contact img{
	max-width: 80%;
	margin: 0 auto;
	border-top: 3px solid #3232cf;
	border-bottom: 3px solid #3232cf;
	padding: 10px 0;
}

/* footer */
footer{
	background-color: #fff;
	text-align: center;
}
footer a{
	font-size: 14px;
	padding: 5px 0;
}
footer a:hover{
	color: orangered;
}

/* media query desktop */
@media (min-width: 900px){
	.logo h1{
		font-size: 2rem;
		letter-spacing: 1px;
	}

	.front{
		max-width: 1000px;
	}
	.front h1{
		font-size: 4rem;
	}

	#skills .skills{
		flex-direction: row;
		padding: 0;
	}
	#skills .skill-item{
		margin: 0 10px;
	}

	#contact .contact{
		flex-direction: row;
	}
	#contact h2{
		font-size: 3rem;
	}
	#contact h3{
		font-size: 1.8rem;
	}
	#contact h4{
		font-size: 1.5rem;
		font-weight: 400;
	}
}
