

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
html{
	font-family: Roboto, sans-serif;
}
.container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cta{
	display: inline-block;
	font-size: 5rem;
	font-weight: 600;
	letter-spacing: .1rem;
	color: #4bc6b9ff;
	padding: 30px;
	position: absolute;
	top: 60%;
	left: 10%;
	border: 10px solid #4bc6b9ff;
	border-radius: 50px;
}
span{
	color:white;
}

/* header */
#header{
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100vw;
	height: auto;
}
#header .header{
	min-height: 8vh;
	background-color: transparent;
}
#header .nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1200px;
	padding: 0 10px;
}
#header .brand{
	font-size: 2.5rem;
	letter-spacing: .1rem;
	margin-left: 20px;
	color: #3232cf;
}
#header img{
	width: 120px;
	height: 100px;
	padding-right: 10px;
}

/* front page */
#front{
	background-image: url(../img/doctor-bg.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#front::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}
#front h1{
	display: block;
	width: fit-content;
	color: white;
	font-size: 5rem;
	letter-spacing: .1rem;
	position:absolute;
	top: 25%;
	left: 20%;
}

/* skills page */
#skills{
	background-color: #d4f2fd;
}
#skills .skills{
	flex-direction: column;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding: 100px 0 0 0;
}
#skills .all-skills{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}
#skills .skills-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	margin: 20px auto;
	border-radius: 10px;
	overflow: hidden;
}
#skills .skills-info{
	background-color: #fadfdc;
	color: black;
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	align-items: flex-start;
	justify-content: center;
	padding: 30px 20px;
}
#skills h1{
	font-size: 1.8rem;
}
#skills p{
	font-weight: 600;
	text-align: left;
	padding-top: 10px;
}