*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
html{
	font-family: Roboto, sans-serif;
	color: blue;
}
.container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cta{
	display: inline-block;
	font-size: 5rem;
	font-weight: 600;
	letter-spacing: .1rem;
	color: blue;
	padding: 30px;
	position: absolute;
	top: 60%;
	left: 10%;
	border: 10px solid blue;
	border-radius: 50px;
}
span{
	color: #d295bf;
}

/* header */
#header{
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100vw;
	height: auto;
}
#header .header{
	min-height: 8vh;
	background-color: transparent;
}
#header .nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 0 10px;
	max-width: 1200px;
}
#header .brand{
	font-size: 3rem;
	letter-spacing: .1rem;
	margin-left: 20px;
}
#header img{
	width: 140px;
	height: 140px;
	padding-right: 10px;
}

/* front page */
#front{
	background-image: url(../img/doctor-bg.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#front::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}
#front h1{
	display: block;
	width: fit-content;
	color: #d295bf;
	font-size: 5rem;
	letter-spacing: .1rem;
	position:absolute;
	top: 25%;
	left: 20%;
}
